button{
    cursor: pointer;
}
.cicle-border{
    border-radius: 20px;
}
.transparent-letter{
   color: rgba(255, 255, 255, 0.578);

}
.main-color-button{
    background-color: #4CAF50;
    
}
.secondary-color-button{
    background-color: #1b5bc9;
    border:none;

}


