

.container-main{
    block-size: max-content;
    max-inline-size: 1024px;
    height: 100vh;
    margin: 32px auto;

}

.container-img-background{
    
    background-image: url('./../assets/Background/hombres-pulso.png');
    background-size: 100% 100%;
    align-content: end;
    background-position: 50% 20%;
    
    background-repeat: no-repeat;
    
    padding: 16px;
    height: 500px;

    
}


/* Reglas de estilo para el contenedor de la lista de juegos */
.container-game{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid gray;
    padding: 8px;
    margin-bottom: 12px;
}

.versus{
    color: rgba(255, 255, 255, 0.578);
    
}

.img-game{
    width: 250px;
    height: 150px;
}


/* Regla de estilos para la lista de reviews de la vista principal */
.container-lista-reviews{
    display: flex;
    gap:8px 0;
    justify-content: space-between;
    flex-wrap: wrap;

}
.container-review{
    
   display: flex;
   flex-direction: column;
   flex-basis: calc(100vh/4);
   flex-grow: 1;
   padding: 16px;
   border: gray solid;
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.049);
   
}
.container-review > *{
    margin:4px 0;
}
